<!DOCTYPE html>
<html>
<head>
    <style>
        .bigtext {
            font: bold 16px Arial;
            text-decoration: none;
            background-color: #FFFFFF;
            color: #000000;
            padding: 2px 6px 2px 6px;
            border-top: 1px solid #CCCCCC;
            border-right: 1px solid #333333;
            border-bottom: 1px solid #333333;
            border-left: 1px solid #CCCCCC;
        }
        .smalltext {
            font: 12px Arial;
            text-decoration: none;
        }

    </style>
    <title>OSU CS493 - Final Assignment</title>
</head>
<body>
    <h1 class="bigtext"><center>OSU CS493 - Final Assignment Error Page</center></h1>
    <h4 class="smalltext">Error. Not Authorized or Session expired.
    </h4>
    <a href="{{render_home_url}}">Return to Home Page</a>
</body>
</html>