<!DOCTYPE html>
<html>
<head>
    <style>
        .button {
            font: bold 11px Arial;
            text-decoration: none;
            background-color: #EEEEEE;
            color: #333333;
            padding: 2px 6px 2px 6px;
            border-top: 1px solid #CCCCCC;
            border-right: 1px solid #333333;
            border-bottom: 1px solid #333333;
            border-left: 1px solid #CCCCCC;
        }
        .bigtext {
            font: bold 16px Arial;
            text-decoration: none;
            background-color: #FFFFFF;
            color: #000000;
            padding: 2px 6px 2px 6px;
            border-top: 1px solid #CCCCCC;
            border-right: 1px solid #333333;
            border-bottom: 1px solid #333333;
            border-left: 1px solid #CCCCCC;
        }
        .smalltext {
            font: 12px Arial;
            text-decoration: none;
        }

    </style>
    <title>OSU CS493 - Final Assignment</title>
</head>
<body>
    <h1 class="bigtext"><center>OSU CS493 - Final Assignment - OAuth Page</center></h1>
    <h4 class="smalltext">This page demos the use of OAuth2 flows to retrieve a user's profile page.
    <p>Click on the Sign-in and Authorize Button to see your profile information.</p>
    <p>
    </h4>
    <a href="{{url}}" class="button">Sign-in and Authorize</a>

</body>
</html>