<!DOCTYPE html>
<html>
<head>
    <style>
        .bigtext {
            font: bold 16px Arial;
            text-decoration: none;
        }
        .smalltextbold {
            font: bold 12px Arial;
            text-decoration: none;
        }
        .smalltext {
            font: 12px Arial;
            text-decoration: none;
        }

    </style>
    <title>Profile Page</title>
</head>
<body>
    <h1 class="bigtext"><center>Profile Example Page</center></h1>

    <h4 class="smalltextbold">JWT Token:</div> <div class="smalltext"> {{render_id_token}}</div></h4>
    <p></p>
    <h1 class="bigtext"><center>*****DO NOT REFRESH*****</center></h1>
    <p></p>
    <a href="{{render_home_url}}">Return to Home Page</a>
</body>
</html>